<section class='comment'>
  <header>
    <div class='comment-title'>
      <h4>{{title}}</h4>
    </div>
  </header>
  <div class='comment-content'>
    <p>{{content}}</p>
    <p>—<span class='comment-author'>{{'user.username'}}</span> <span class="comment-time">{{format_date createdAt}} {{format_time createdAt}}</span>
  </div>
</section>