<section class='post'>
  <header>
    <div class='post-title'><h3>{{post.title}}</h3></div>
    <div class='post-author'>
      <em>By:</em>
      {{post.user.username}}<br />
      <em>On:</em>
      {{format_time post.updatedAt}}
    </div>
  </header>
  <p class='post-body'>
    {{post.content}}
  </p>
</section>

{{#each comments as |comment|}}
{{> comment-details}}
{{/each}}

<section class='comment'>
  <header>
    <div class='comment-title'>
      <h4>Comment</h4>
    </div>
  </header>
  <div class='comment-body'>
    <form class='post-comment'>
      <div class='form-group'>
        <textarea
          class='form-input'
          id='comment-content'
          placeholder='Add a constructive comment here.'
        ></textarea>
      </div>
      <div class='form-group'>
        <button
          class='btn btn-primary'
          id='comment-submit'
          value='{{post.id}}'
          type='submit'
        >submit</button>
      </div>
    </form>
  </div>
</section>

<script src='../js/comment.js'></script>